@import url('https://fonts.googleapis.com/css2?family=Syne:wght@200;300;400;500;600;700;800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes letterIn {
  0% {
    transform: translateY(-10px);
    opacity: 0;
  }
  50% {
    transform: translateY(0);
    opacity: 0.7;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.animate-letterIn {
  animation: letterIn 0.5s ease forwards;
}

.gradient-text{
  background: -webkit-linear-gradient(135deg, #aa70e0, #7059e2);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
}

::-webkit-scrollbar {
    width:8px;
    height: 5px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #323445;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #a64ffc;
    border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #a64ffc;
}


@keyframes floating {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
  }
}

.floating-animation {
  animation: floating 2s ease-in-out infinite;
}

/* Add this CSS for the vibrating animation */
@keyframes shaking {
  0% {
    transform: rotate(20deg);
  }
  25% {
    transform: rotate(-20deg);
  }
  50% {
    transform: rotate(20deg);
  }
  75% {
    transform: rotate(-20deg);
  }
  100% {
    transform: rotate(20deg);
  }
}

.shaking-animation {
  animation: shaking 6s ease-in-out infinite;
}

@keyframes shine {
  0% {
    background-position: -200%;
  }
  50% {
    background-position: 200%;
  }
  100% {
    background-position: -200%;
  }
}

.shining-box {
  width: 100%;
  height: 100%;
  background: linear-gradient(45deg, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.1));
  background-size: 400% 400%;
  animation: shine 20s linear infinite; /* Slower animation */
  border-radius: 10px;
   /* Adjusted glow intensity */
}

